@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 40%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #ffffff;
  height: 50vh;
  left: 30%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  z-index: 10;
}
.animated-title > div {
  height: 70%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 10vmin;
  line-height: 1.2;
  padding: 2vmin 0;
  position: absolute;
  pointer-events: none;
}
.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: -5%;
  transform: translate(0, 100%);
  font-weight: 400;
  color: white;
}
.animated-title-text1 {
  font-weight: 500;
  color: #ffffff;
}
.animated-title > div.text-bottom {
  bottom: 10%;
  color: white;
  line-height: 0.9;
  height: 10vmin;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
  font-size: 2.2vmin;
  pointer-events: none;
}

@media only screen and (max-width: 1000px) {
  .animated-title {
    position: absolute;
    color: #ffffff;
    height: 100vmin;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
  }
}
